.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 20px 30px;
  background-color: #212121;

  &Logo {
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
  }

  &Search {
    display: inline-block;
    vertical-align: middle;

    margin-left: 159px;

    &Input {
      vertical-align: middle;
      padding: 12px 24px;

      border: 0;
      border-radius: 4px 0 0 4px;
      height: 48px;
      width: 630px;

      font-family: Roboto;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 0.23px;
      color: rgba(255, 255, 255, 0.6);

      background-color: #000000;
    }

    &Buttom {
      display: inline-block;
      vertical-align: middle;

      background-color: #64656a;
      border: 0;
      padding: 0 0;
      border-radius: 0 4px 4px 0;
      height: 48px;
      width: 65px;
    }
  }

  &Help {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
  }
  &Notification {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    height: 32px;
  }
}

.cardWrapper {
  margin-top: 56px;
  width: 1084px;
  border-radius: 8;
}

.defaultCard {
  padding: 27px 80px 24px 80px;
}
