.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  padding: 20px 30px;
  background-color: #212121;

  &Logo {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
  }
  &Search {
    width: 765px;
    margin: auto;
    // height: 48px;

    &Input {
      border: 0;
      height: 48px;
      width: 700px;
      // background-color: #000000;
    }
    &Buttom {
      height: 48px;
      width: 65px;
    }
  }
}

.cardWrapper {
  margin-top: 56px;
  width: 1084px;
  border-radius: 8;
}

.defaultCard {
  padding: 27px 80px 24px 80px;
}
