.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 20px 30px;
  background-color: #212121;

  &Menu {
    display: none;
  }

  &Logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
  }

  &Search {
    display: inline-block;
    vertical-align: middle;
    margin-left: 159px;

    &Input {
      vertical-align: middle;
      padding: 12px 24px;
      border: 0;
      border-radius: 4px 0 0 4px;
      height: 48px;
      width: 550px;

      font-size: 1.125em;
      font-weight: normal;
      letter-spacing: 0.23px;
      color: rgba(255, 255, 255, 0.6);

      background-color: #000000;
    }

    &Button {
      display: inline-block;
      vertical-align: middle;
      background-color: #64656a;
      border: 0;
      padding: 0 0;
      border-radius: 0 4px 4px 0;
      height: 48px;
      width: 55px;

      > img {
        transform: rotate(90deg);
      }
    }
  }
  .AuthButtons {
    display: inline-block;
    flex-grow: 1;
    vertical-align: middle;
  }

  &Notification {
    margin-left: 27px;
  }
}

.dMenu {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
  background-color: #fafafa;
}

.loginItems {
  padding: 16px 0 20px 24px;
  max-width: 316px;

  &Ava {
    width: 72px;
    height: 72px;
  }

  &Name {
    margin-top: 9px;
    font-size: 1.25em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
  }

  &Profession {
    margin-top: 5px;
    font-size: 0.875em;
    font-weight: normal;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }

  &Button {
    width: 142px;
    height: 48px;
    padding: 12px 20px 12px 0px;
    margin-top: 15px;
    border-radius: 24px;

    font-size: 0.875em;
    font-weight: 500;
    letter-spacing: 1.25px;
  }
}

.menuItem {
  padding: 0 0 0 24px;
  margin: 5px 0 0 0;
  max-width: 316px;
  height: 38px;
  &Text {
    margin-left: 22px;
    font-size: 0.875em;
    font-weight: normal;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }
}

.breadCrumbs {
  margin-top: 17px;

  font-size: 0.875em;
  font-weight: normal;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
}

.breadLastCrumbs {
  text-transform: capitalize;

  font-size: 0.875em;
  font-weight: normal;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}

.menuPadding {
  padding: 0 0 0 22px;
}

.dialogTitle {
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: rgba(0, 0, 0, 0.6);
}

.dialogError {
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: rgb(255, 0, 0);
}

.dialog {
  padding: 0 30px 30px 30px;

  &Input {
    display: flex;
    justify-items: center;
    margin-top: 30px;
  }

  &Button {
    display: flex;
    width: 230.7px;
    height: 50px;
    margin-top: 30px;
  }
}

.card {
  margin-top: 19px;
  margin-right: 24px;
  max-width: 1084px;
  padding: 27px 80px 16px 80px;
  border-radius: 10px;

  &Top {
    &Icon {
      float: left;
      width: 48px;
      height: 48px;
      margin-top: 5px;
    }

    &Question {
      margin-left: 72px;
      vertical-align: top;

      font-size: 0.875em;
      font-weight: 500;
      letter-spacing: 1.25px;
      color: rgba(0, 0, 0, 0.6);
    }

    &Title {
      margin-left: 72px;

      font-size: 2.125em;
      font-weight: normal;
      letter-spacing: 0.25px;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  &Text {
    margin-top: 22px;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.78;
    letter-spacing: 0.23px;
    color: rgba(0, 0, 0, 0.87);
  }

  &Tags {
    margin-top: 20px;

    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
  }

  &TagsWrapper {
    display: inline-block;
    margin: 8px 16px 0 0;
    padding: 4px 16px 4px 16px;
    background-color: #f0f1f7;

    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
  }

  &Photo {
    margin-top: 20px;
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
  }
  &PhotoWrapper {
    display: inline-block;
    margin: 8px 16px 0 0;
    padding: 8px 16px 8px 16px;
    background-color: #f0f1f7;

    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);

    > img {
      display: inline-block;
      vertical-align: middle;
    }
    > div {
      display: inline-block;
      vertical-align: middle;
      margin-left: 12px;
    }
  }
  &Views {
    margin-top: 13px;
    font-size: 0.875em;
    font-weight: normal;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
  }
  &Divider {
    margin-top: 12px;
    margin-left: -80px;
    margin-right: -80px;
  }

  &Footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-left: -8px;
    &Uploads {
      text-transform: none;
      font-size: 1em;
      font-weight: 500;
      letter-spacing: 0.15px;
    }
    &Favorites {
      margin-left: 22px;
      font-size: 1em;
      font-weight: normal;
      text-transform: none;
      letter-spacing: 0.15px;
    }

    &Save {
      font-size: 1em;
      font-weight: normal;
      text-transform: none;
      letter-spacing: 0.15px;
    }
  }
}
.answer {
  margin-top: 19px;
  margin-right: 24px;
  max-width: 1084px;
  padding: 16px 80px 16px 80px;
  border-radius: 10px;

  &Top {
    display: flex;
    justify-content: space-between;

    margin-left: -8px;
    &Answer {
      font-size: 1em;
      font-weight: normal;
      color: #212121;
      text-transform: none;
      letter-spacing: 0.15px;
    }
  }
  &Divider {
    margin-top: 16px;
  }

  &Box {
    margin-left: -80px;
    margin-right: -80px;
  }
  &Main {
    padding: 16px 80px 0 80px;
    &Header {
      margin-left: 0px;
      margin-right: 0;
      padding: 0 0;

      font-weight: 500;
      letter-spacing: 0.23px;

      &Ava {
        height: 56px;
        width: 56px;
        border-radius: 50%;
      }

      &Title {
        font-size: 1.125em;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.87);
      }

      &Subheader {
        font-size: 0.875em;
        font-weight: normal;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.6);
      }

      &Edit {
        transform: translate(0, 32%);
        font-size: 0.875em;
        font-weight: 500;
        letter-spacing: 1.25px;

        &Icon {
          margin-right: 10px;
        }
      }
    }
    &Text {
      margin-top: 20px;
      font-size: 1.125em;
      font-weight: normal;

      line-height: 1.78;
      letter-spacing: 0.23px;
      color: rgba(0, 0, 0, 0.87);
    }
    &View {
      padding-top: 10px;
      font-size: 0.875em;
      font-weight: normal;
      letter-spacing: 0.25px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
.line {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 24px;
  &Text {
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 0.25px;
    color: var(--primary-900);
  }

  &More {
    font-size: 0.875em;
    font-weight: 500;

    letter-spacing: 1.25px;
    text-align: center;
    color: #b71c1c;
  }
}

.cards {
  margin-top: 20px;
  margin-bottom: 66px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;

  &Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 248px;
    min-width: 248px;
    border-radius: 10px;
    padding: 16px 16px 0 16px;

    &Name {
      font-size: 0.75em;
      font-weight: 500;
      letter-spacing: 2px;
      color: rgba(0, 0, 0, 0.6);
    }

    &Question {
      font-size: 1.125em;
      font-weight: 500;
      letter-spacing: 0.23px;
      color: rgba(0, 0, 0, 0.87);
    }

    &Info {
      font-size: 0.875em;
      font-weight: normal;
      letter-spacing: 0.25px;
      color: rgba(0, 0, 0, 0.6);
    }

    &Text {
      font-size: 1em;
      font-weight: normal;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
    }

    &Answers {
      margin-left: -8px;
      font-size: 1em;
      font-weight: normal;
      letter-spacing: 0.15px;
      color: #212121;
      text-transform: none;
      width: 116px;
    }
  }
}

@import "styles/media.scss";
