@media (max-width: 1700px) {
  .cards {
    &Wrapper:nth-child(n + 5) {
      display: none;
    }
  }
}

@media (max-width: 1452px) {
  .cards {
    &Wrapper:nth-child(n + 4) {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  .cards {
    &Wrapper:nth-child(n + 4) {
      display: flex;
    }
  }
  .dMenu {
    display: none;
  }
  .drawerMenu {
    display: flex;
  }
  .iconMenu {
    display: flex;
  }
  .header {
    height: 70px;
    padding: 20px 20px 20px 20px;
    min-width: 100%;
    position: fixed;
    z-index: 1;

    > div {
      display: flex;

      justify-content: space-between;
      align-items: center;
    }

    &Menu {
      display: flex;
    }
    &Logo {
    }

    &Search {
      margin-left: 30px;
      &Input {
        height: 38px;
        max-width: 250px;
      }

      &Button {
        height: 38px;
        width: 45px;
      }
    }
    &Notification {
      margin-left: 5px;
    }
  }
  .loginButton {
    font-size: 1em;
  }
  .signupButton {
    font-size: 1em;
  }
  .line {
    &Text {
      margin-left: 0px;
    }
  }
  .card {
    max-width: 1200px;
    min-width: 720px;

    &Footer {
      &Uploads {
        text-transform: none;
        transform: translate(0, 10%);
      }
      &Favorites {
        transform: translate(0, 10%);
      }
    }
  }

  .answer {
    max-width: 1200px;
    min-width: 720px;
  }

  .cards {
    &Wrapper {
      min-width: 190px;

      &Answers {
        width: 108px;
      }
    }
  }
  .breadCrumbs {
    margin-top: 87px;
  }

  .loginItems {
    &Ava {
      border-radius: 50%;
    }
    &Button {
      width: 110px;
      height: 42px;
    }
  }

  .menuItem {
    // padding: 0 0 0 24px;
    // margin: 5px 0 0 0;
    // max-width: 316px;
    height: 33px;
  }
}

@media (max-width: 1124px) {
  .cards {
    &Wrapper:nth-child(n + 5) {
      display: none;
    }
  }
}

@media (max-width: 904px) {
  .cards {
    &Wrapper:nth-child(n + 4) {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .header {
    height: 40px;
    padding: 10px 10px;
    &Logo {
      margin-left: 0;
    }
    .menuItem {
      min-height: 35px;
    }
    .mobileSearch {
      display: flex;
    }
    &Search {
      display: none;
    }
    &Question {
      width: 25px;
      height: 25px;
    }
    &Notification {
      margin-left: 0;
      &Icon {
        width: 25px;
        height: 25px;
      }
    }
  }
  .loginButton {
    font-size: 0.85em;
    width: 10px;
    height: 25px;
  }
  .signupButton {
    width: 60px;
    height: 25px;
    font-size: 0.85em;
    padding: 8px 8px;
  }
  .breadCrumbs {
    margin-top: 50px;
    margin-left: 10px;
  }
  .line {
    margin-right: 10px;
    margin-left: 10px;
  }
  .card {
    margin-top: 10px;
    min-width: 320px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 10px 0 10px;
    &Top {
      &Icon {
        width: 40px;
        height: 40px;
      }

      &Title {
        font-size: 2em;
      }
    }

    &Tags {
      margin-top: 10px;
    }

    &Photo {
      margin-top: 10px;
    }

    &Footer {
      margin-top: 0;

      &Favorites {
        display: none;
      }

      &Save {
        display: none;
      }
    }
  }

  .answer {
    min-width: 320px;

    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    &Divider {
      margin-top: 5px;
    }
  }
  .cards {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 66px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    &Wrapper {
      min-height: 140px;
      max-height: 200px;
    }

    &Wrapper:nth-child(n + 4) {
      display: flex;
    }
  }
}
@media (max-width: 605px) {
  .cards {
    margin-top: 20px;
    margin-bottom: 66px;
    margin-right: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
