@media (max-width: 1700px) {
  .cards {
    &Wrapper:nth-child(n + 5) {
      display: none;
    }
  }
}

@media (max-width: 1452px) {
  .cards {
    &Wrapper:nth-child(n + 4) {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  .cards {
    &Wrapper:nth-child(n + 4) {
      display: flex;
    }
  }
  .dMenu {
    display: none;
  }
  .loginItems {
    display: none;
  }
  .menuItem {
    display: none;
  }

  .header {
    height: 60px;

    > div {
      display: flex;

      justify-content: space-between;
      align-items: center;
    }

    &Menu {
      display: flex;
    }
    &Logo {
    }

    &Search {
      margin-left: 30px;
      &Input {
        height: 38px;
        max-width: 250px;
      }

      &Button {
        height: 38px;
        width: 45px;
      }
    }
    &Notification {
      margin-left: 5px;
    }
  }
  .loginButton {
    font-size: 1em;
  }
  .signupButton {
    font-size: 1em;
  }

  .card {
    max-width: 1200px;
    min-width: 720px;
  }

  .answer {
    max-width: 1200px;
    min-width: 720px;
  }

  .cards {
    &Wrapper {
      min-width: 190px;

      &Answers {
        width: 108px;
      }
    }
  }
}

@media (max-width: 1124px) {
  .cards {
    &Wrapper:nth-child(n + 5) {
      display: none;
    }
  }
}

@media (max-width: 904px) {
  .cards {
    &Wrapper:nth-child(n + 4) {
      display: none;
    }
  }
}
